body {
    background-image: url("background.jpg");
    font-family: 'Permanent Marker', cursive;
    color: antiquewhite
}

.container {
    width: 700px;
    height: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    background-color: black;
    padding: 20px;
}

#maintitle {
    font-size: xx-large;
    text-align: center;
    text-emphasis: bold;
}

#imagecontainer {
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    height: 200px;
}

#buttons {
    margin-left: auto;
    margin-right: auto;
}

#timer {
    margin-left: auto;
    margin-right: auto;
}



